:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);

  --brand: hsl(158, 36%, 37%);
  --brand-dark: hsl(157, 57%, 15%);

  --bg-surface-1: var(--cream);
  --bg-surface-2: var(--white);

  --heading-1: var(--very-dark-blue);
  --text: var(--dark-grayish-blue);

  --ff-primary: 'Montserrat', sans-serif;
  --ff-secondary: 'Fraunces', serif;
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg-surface-1);
  font-family: var(--ff-primary);
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
  position: relative;
}

.card {
  background-color: var(--bg-surface-2);
  width: 340px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

img {
  max-width: 100%;
  display: block;
}

button {
  background-color: var(--brand);
  font-size: 14px;
  font-weight: 500;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: 0;
  width: 100%;
  padding-block: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: var(--brand-dark);
}

.product-image {
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.card__content {
  padding: 1.25rem;
}

.lead {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.75rem;
  margin-bottom: 1rem;
}

.card__heading {
  font-family: var(--ff-secondary);
  font-size: 2rem;
  line-height: 1.1;
  margin-bottom: 1rem;
  color: var(--heading-1);
}

.card__text {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 3rem;
}

.prices {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.new-price {
  font-family: var(--ff-secondary);
  font-size: 2rem;
  font-weight: 700;
  color: var(--brand);
}

.old-price {
  text-decoration: line-through;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 1rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 640px) {
  .card {
    flex-direction: row;
    width: 600px;
  }

  .card__content {
    padding: 2rem;
    width: 100%;
  }

  .product-image {
    height: 100%;
    border-radius: 10px 0 0 10px;
  }
}
